body {
    
   
   
    
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
   
  }
  
  .sidebar {
    height: 100%;
    width: 100px; 
    position: fixed;
    top: 0; 
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: width 0.5s;
    
    background-color: #faae83;
    background-image: linear-gradient(43deg, #faae83 0%, #fb961b 35%, #c9b2f8 52%, #7df9ff 84%);
    
  }
  
  .sidebar-content {
    padding-top: 20px;
    text-align: center;
  }
  
  .profile-pic {
    width: 170px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    position:relative;
    right:26px;
  }
  
  .profile-text {
    color: #333;
    font-size: 11px;
    font-weight: bold;
    
   
  }
  
  .sidebar-expanded {
    display: none;
  }
  
  .sidebar-expanded a {
font-size:15px;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    border-radius: 10px; 
  }
  
  .sidebar-expanded a:hover {
    background-color: #4CAF50 
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"],
select {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #ff8c00;
}

button {
    padding: 15px 30px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff9900;
}
