

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  
}

.charts-container {
  display: flex;
  justify-content: space-between;
 height:1150px;
 width:1200px;
 margin-left: 80px;
margin-right: 60px;

}


#monthly-chart{ 
  position:relative; 
  left:0px;
}
.chart-container {
  width: calc(60% - 10px); /* 50% width with a small gap */
  margin-bottom: 20px; /* Add some space between the charts */
}

canvas {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.cont2{ 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  
  color: #333;
  font-size: 28px;
  margin-top:60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;

}


form {
  margin-bottom: 20px;
  position:relative;
  bottom:150px;
  left:80px;
}

label {
  font-weight: bold;
  font-size: 20px;
  margin-right:10px;
  
}

input[type="number"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80px;
  margin-right:60px;
}


button {
  margin-top: 50px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

button:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}









.stats-icon {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 30px;
  margin-left:80px;
 
}

.bar {
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #ff923c;
  animation: grow 1s ease-in-out infinite alternate;
}

.bar1 {
  left: 10px;
  animation-delay: 0.2s;
}

.bar2 {
  left: 40px;
  animation-delay: 0.4s;
}

.bar3 {
  left: 70px;
  animation-delay: 0.6s;
}

@keyframes grow {
  0% {
    height: 10%;
  }
  100% {
    height: 100%;
  }
}



.stats-container {
  width: 100px;
  height: 100px;
  position: relative;
  left:320px;
  bottom:100px;
}

.circle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 10px solid #FFC96F;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  padding: 20px;
}




.chart {
  width: 120px;
  height: 120px;
  position: relative;
  left:560px;
  bottom:220px;
}

.circle2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ff923c;
  position: relative;
}

.slice {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFC96F;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  animation: fill 4s ease-in-out forwards;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
